
.main {
  display: flex;
  gap: 2rem;
  padding: 2rem 4rem;
}

.container {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #8b8b8b,
              inset -5px -5px 10px #ffffff;
  width: 75%;
  padding: 1rem;
  margin: auto;
}
.addTaskContainer{
  display: flex;
  
  

}
.pendingTasksCount{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow:  5px 5px 11px #a8a8a8,
              -5px -5px 11px #ffffff;
}
.tablesContainer{
  justify-content: space-between;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  
}
